body{
    background: #FF8333 ;
}
span{
    color: rgb(255, 255, 0);
}

/* p{
    color:green;
} */

.texto{
    font-size: 30px;
    color: red;
}

#parrafo{
    font-size: 50px;
    color: blue;
}
/* p.combinado{
    font-size: 60px;
} */

p.caja{
    border: 3px solid red;
    /*margin: 30px 50px 10px 50px;*/
    margin: 30px 50px;
}
p.box{
    border: 3px dashed blue;
    margin: 0;
    padding: 15px;
}